header{
    position: sticky;
    top:0px;
    width: 100%;
    background-color: $morado;
    height: 80px;
    display:flex;
    z-index: 1;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
}

.nav-logo{
    width: 100px;

}
.nav-menu{
    width: 25px;
}